body{
    margin-left: 0;
    margin-right: 0;
}


.intelligente{
    font-family: sans-serif;
    font-size: 0.6em;
    height: 0.3em;
    padding-top: 0;
    text-align: start;
    align-items: start;
}


.head{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin-top: 0.7em;
    background-color: midnightblue;
    width: 100%;
    padding: 0.5em;
}

.upbar{
    display: flex;
    justify-content: flex-start; 
    gap: 0.7em; 
}

.loginn{
    display: flex;
    justify-content: end;
    gap: 0.5em;
    margin-left: 3.1em;
    padding: 0.01em;
    border: none;
    background-color: transparent;
    font-family: sans-serif;
    font-weight: 800;
    color: white;
}

.pulsante{
    border: none;
    background-color: transparent;
    font-family: sans-serif;
    font-weight: 800;
    color: white;
    font-size: 0.75em;
    transition: 0.5s ease;
    cursor: pointer;
}

.pulsante:hover{
    color: orange;
    cursor: pointer;
}

.bonus{
    width: 100%;
}



.incitare{
    background-color: midnightblue;
    width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.text{
    font-family: sans-serif;
    color: white;
    font-weight: 800;

}




.scommesse {
    display: flex; 
    gap: 1.4em;
    overflow-x: auto; 
    padding: 1.2em; 
    white-space: nowrap; 
    scrollbar-width: thin; 
}

.scommesse::-webkit-scrollbar {
    height: 1em; 
}

.scommesse::-webkit-scrollbar-thumb {
    background: midnightblue; 
    border-radius: 4px; 
}

.scommesse::-webkit-scrollbar-thumb:hover {
    background: midnightblue; 
}

.betuno, .betdue, .bettre {
    flex: 0 0 auto; 
    border: 0.11em solid #ccc; 
    padding: 10px; 
    background-color: transparent; 
    border-radius: 5px; 
    width: 200px; 
    text-align: center; 
}

.top{
    margin-left: 0.5em;
    margin-bottom: -0.3em;
    margin-top: 1.7em;
    font-family: sans-serif;
    font-size: 1.7em;
    font-weight: 750;
    color: midnightblue;
}


.blu{
    border: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: midnightblue;
    color: white;
    padding: 1em;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 700;
}

.quotauno, .quotadue, .quotatre, .quotaquattro, .quotacinque, .quotasei, .quotasette, .quotaotto, .quotanove{
    background-color: cornflowerblue;
    border: none;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 0.56em;
    font-weight: 700;
    padding: 0.6em;
    transition: 0.3s;
}

.quotauno:hover{
    background-color: orange;
    color: white;
}

.quotadue:hover{
    background-color: orange;
    color: white;
}

.quotatre:hover{
    background-color: orange;
    color: white;
}

.quotaquattro:hover{
    background-color: orange;
    color: white;
}

.quotacinque:hover{
    background-color: orange;
    color: white;
}

.quotasei:hover{
    background-color: orange;
    color: white;
}

.quotasette:hover{
    background-color: orange;
    color: white;
}

.quotaotto:hover{
    background-color: orange;
    color: white;
}

.quotanove:hover{
    background-color: orange;
    color: white;
}

h4{
    font-family: sans-serif;
    text-transform: uppercase;
}

.topslot{
    margin-left: 0.5em;
    margin-bottom: -0.3em;
    margin-top: 1.7em;
    font-family: sans-serif;
    font-size: 1.7em;
    font-weight: 750;
    color: midnightblue;
}

.slot {
    display: flex; 
    gap: 1.4em;
    overflow-x: auto; 
    padding: 1.2em; 
    white-space: nowrap; 
    scrollbar-width: thin; 
}

.scommesse::-webkit-scrollbar {
    height: 1em; 
}

.scommesse::-webkit-scrollbar-thumb {
    background: midnightblue; 
    border-radius: 4px; 
}

.scommesse::-webkit-scrollbar-thumb:hover {
    background: midnightblue; 
}

.betuno, .betdue, .bettre {
    flex: 0 0 auto; 
    border: 0.11em solid #ccc; 
    padding: 10px; 
    background-color: transparent; 
    border-radius: 5px; 
    width: 200px; 
    text-align: center; 
}

.image{
    width: 100px;
}

footer{
    margin-top: 3.6em;
    background-color: darkcyan;
    text-align: center;
    padding-top: 0.8em;
    padding-bottom: 1.3em;
}
.responsabile{
    font-family: sans-serif;
    font-size: 1.4em;
    color: orange;
    font-weight: 700;
}

.help{
    font-family: sans-serif;
    font-size: 1.2em;
    color: white;
    font-weight: 700;
}

.helpp{
    font-size: 0.7em;
    color: white;
    opacity: 0.6;
    font-family: sans-serif;
    margin-top: 0.5em;
}

.aiuto{
    background-color: orange;
    color: midnightblue;
    border: none;
    border-radius: 3px;
    padding: 1em;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 700;
    transition: 0.10s;
    cursor: default;
}

.aiuto:hover{
    opacity: 0.3;

}